.btn {
    cursor: pointer;
    position: relative;
    z-index: 5;
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @include transition(all 0.3s);
    font-weight: 700;
    font-size: 24px;
    line-height: 45px;
    &.btnRed {
        background-color: #b01f30;
        color: #fff;
        &:hover {
            background-color: $colorHover;
        }
    }
    &.btnWhite {
        background-color: #ffff;
        color: #b01f30;
        &:hover {
            background-color: $colorHover;
            color: #fff;
        }
    }
    &.btnTran {
        border: solid 1px #b01f30;
        background-color: transparent;
        color: #332f2e;
    }
}

.modal__close {
    position: absolute;
    width: 27px;
    display: block;
    right: 11px;
    top: 11px;
    height: 27px;
    span {
        display: block;
        background-color: #fff;
        width: 100%;
        height: 3px;
        position: relative;
        @include transform(rotate(-45deg));
        & + span {
            top: -3px;
            @include transform(rotate(45deg));
        }
    }
}

.btnBurger {
    display: none;
    position: absolute;
    left: 14px;
    top: 13px;
    width: 30px;
    height: 30px;
    @include transition(all 0.3s);
    z-index: 9;
    &.open {
        .line {
            &:nth-child(1) {
                @include transform(rotate(-45deg));
                top: 10px;
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                @include transform(rotate(45deg));
                top: -10px;
            }
        }
    }
    .line {
        position: relative;
        @include transition(all 0.3s);
        display: block;
        width: 100%;
        height: 4px;
        background-color: #332f2e;
        & + .line {
            margin-top: 6px;
        }
    }
}

.btnDialog {
    display: none;
    background-image: url("../img/dialog.svg");
    width: 73px;
    height: 73px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 9;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 991px) {
    .btn {
        font-size: 18px;
        line-height: 35px;
    }
}

@media (max-width: 767px) {
    .btn {
        font-size: 14px;
    }
    .btnDialog {
        display: block;
    }
}
