.header {
    background-color: #b01f30;
    width: 100%;
    position: relative;
    .headerContent {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 50px 45px;
        .logoWrapper {
            display: none;
        }
        .coop {
            display: none;
        }
        .buy {
        }
    }
    .logoWrapper {
        position: absolute;
        top: 0;
        left: 30px;
        .logoMobile {
            display: none;
        }
    }
    .menu {
        order: 2;
        margin-top: 80px;
        .coop {
            display: block;
        }
    }
    .infoCompany {
        order: 1;
        margin-left: auto;
        max-width: 340px;
    }
}

.logoWrapper {
    @include invisLink;
}

.menu {
    position: relative;
    z-index: 5;
    ul {
        display: flex;
        justify-content: center;
        margin: 0 -5px;
        li {
            margin: 0 5px;
            a {
                font-weight: 700;
                font-size: 24px;
                line-height: 45px;
                text-align: center;
                color: #9d0b20;
                padding: 5px;
                background-color: #fff;
                min-width: 214px;
                display: block;
                &:hover {
                    background-color: $colorHover;
                    color: #fff;
                }
            }
        }
    }
}

.infoCompany {
    color: #fff;
    .linkPhone {
        background-image: url("../img/phone.png");
        background-repeat: no-repeat;
        background-position: left calc(50% + 4px);
        font-weight: 400;
        font-size: 30px;
        line-height: 18px;
        padding-left: 53px;
        &:hover {
            color: $colorHover;
        }
    }
    .address {
        display: block;
        margin-top: 32px;
        padding-left: 52px;
        font-size: 18px;
        line-height: 22px;
        background-image: url("../img/marker.png");
        background-repeat: no-repeat;
        background-position: left calc(50% + 2px);
    }
}

.bannerSection {
    position: relative;
    z-index: 3;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    max-width: 1920px;
    filter: drop-shadow(0px 7px 7px rgba(0, 0, 0, 0.4));
}

.catalogSection {
    position: relative;
    z-index: 2;
    // background-image: url("../img/back-catalog.jpg");
    // background-position: center center;
    padding: 50px 0 93px;
}

.catalogList {
    display: flex;
    flex-wrap: wrap;
    margin: 50px -15px -27px;
    .product {
        width: calc(100% / 3 - 30px);
        margin: 27px 15px;
    }
    & + * {
        margin-top: 66px;
    }
}

.product {
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 35px 22px 47px;
    text-align: center;
    img {
        margin: 0 auto;
        min-height: 338px;
    }
    .info {
        margin-top: 20px;
        .name {
            font-weight: 700;
            font-size: 22px;
            line-height: 27px;
            text-align: center;
            color: #150801;
            & + * {
                margin-top: 8px;
            }
        }
        .desc {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #6b5549;
            display: block;
            height: 51px;
            overflow: hidden;
        }
        .btn {
            margin-top: 20px;
            width: 100%;
            max-width: 220px;
            padding: 4px 0;
        }
    }
}

.advList {
    margin: 33px -15px -15px;
    display: flex;
    flex-wrap: wrap;
    .advItem {
        width: calc(100% / 3 - 30px);
        margin: 15px;
    }
    .picture {
        width: 100%;
        height: 180px;
        margin-bottom: 27px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .name {
        font-weight: 700;
        font-size: 34px;
        line-height: 41px;
        text-align: center;
        text-transform: uppercase;
        color: #000;
        display: block;
        min-height: 123px;
    }
    .text {
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #000000;
        display: block;
        margin-top: 11px;
    }
}

.foodSection {
    background-image: url("../img/back-food.jpg");
    min-height: 750px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 7px 7px rgba(0, 0, 0, 0.4));
    .pictureMobile {
        background-image: url("../img/back-food.jpg");
        width: 100%;
        background-position: 34% center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: drop-shadow(0px 7px 7px rgba(0, 0, 0, 0.4));
    }
}

.foodBlockWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 92px 95px;
}

.foodBlock {
    width: 100%;
    max-width: 445px;
    background-color: #fff;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
    padding: 42px 42px 53px;
    .cap {
        font-weight: 700;
        font-size: 34px;
        line-height: 41px;
        text-transform: uppercase;
        color: #9d0b20;
    }
    ul {
        margin-top: 45px;
        li {
            position: relative;
            font-weight: 400;
            font-size: 26px;
            line-height: 58px;
            color: #000;
            padding-left: 63px;
            &::before {
                content: "";
                position: absolute;
                left: -3px;
                top: -6px;
                background-image: url("../img/check.png");
                background-position: left center;
                background-repeat: no-repeat;
                width: 54px;
                height: 57px;
            }
            & + li {
            }
        }
    }
}

.productionSection {
    padding: 145px 0 116px;
}

.production {
    max-width: 575px;
    .list {
        margin-top: 67px;
    }
    .item {
        font-size: 28px;
        line-height: 34px;
        color: #000;
        position: relative;
        padding-left: 95px;
        & + .item {
            margin-top: 35px;
        }
        &::after {
            content: "";
            position: absolute;
            left: 10px;
            top: 50%;
            background-image: url("../img/check.png");
            background-position: left center;
            background-repeat: no-repeat;
            width: 54px;
            height: 57px;
            margin-top: -29px;
        }
        &:nth-child(1) {
            img {
                margin-left: 340px;
                margin-top: -207px;
            }
        }
        &:nth-child(2) {
            img {
                margin-top: -314px;
                margin-left: 10px;
            }
        }
        &:nth-child(3) {
            img {
                margin-top: -236px;
                margin-left: 22px;
            }
        }
        &:nth-child(4) {
            img {
                margin-top: 38px;
                margin-left: 47px;
            }
        }

        &:nth-child(5) {
        }
    }
    .cap {
        font-weight: 700;
        font-size: 34px;
        line-height: 41px;
        text-transform: uppercase;
        color: #9d0b20;
    }
    strong {
        color: #9d0b20;
    }
    img {
        position: absolute;
        top: 0;
        left: 100%;
    }
}

.actionSection {
    background-color: #b01f30;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 248px;
    width: 100%;
    .text {
        font-weight: 400;
        font-size: 28px;
        line-height: 160px;
        text-align: center;
        color: #fff;
    }
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}

.peopleSection {
    padding: 95px 0;
    .list {
        display: flex;
        flex-wrap: wrap;
        margin: -30px 0;
    }
    .item {
        width: calc(100% / 4);
        text-align: center;
        margin: 30px 0;
    }
    .picture {
        width: 100%;
        height: 180px;
        margin-bottom: 28px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .name {
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        text-align: center;
        text-transform: uppercase;
        color: #000;
        display: block;
        width: 100%;
    }
}

.partnersSection {
    background-image: url("../img/back-partners.jpg");
    min-height: 771px;
    padding: 70px 0 105px;
    .cap {
        font-weight: 700;
        font-size: 60px;
        line-height: 85px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        display: block;
        text-align: center;
    }
    .list {
        display: flex;
        margin: 157px -7.5px 0;
    }
    .item {
        @include invisLink;
        margin: 0 7.5px;
        img {
        }
    }
}

.footer {
    position: relative;
    z-index: 3;
    padding: 71px 0;
    background-color: #b01f30;
    box-shadow: 0px -5px 7px rgba(0, 0, 0, 0.25);
    .infoCompany {
        max-width: 375px;
    }
    .linkMail {
        font-size: 24px;
        line-height: 26px;
        display: flex;
        align-items: center;
        padding-left: 63px;
        text-transform: uppercase;
        color: #fff;
        background-image: url(../img/mail.png);
        background-repeat: no-repeat;
        background-position: left center;
        position: relative;
        &:hover {
            color: $colorHover;
        }
    }
    .footerTop {
        padding: 0 43px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .footerBot {
        padding: 0 43px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 112px;
        .text {
            a {
                font-size: 18px;
                line-height: 26px;
                color: #fff;
                &:hover {
                    color: $colorHover;
                }
            }
        }
        .btn {
            width: 100%;
            max-width: 259px;
            padding: 7px 0;
        }
    }
}

.productSection {
    background-color: #fff;
    width: 100%;
    padding: 125px 0 100px;
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .leftSide {
        width: 351px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        .title {
            display: none;
        }
    }
    .rightSide {
        width: calc(100% - 351px);
        padding-left: 129px;
        .title {
            & + * {
                margin-top: 27px;
            }
        }
    }

    .title,
    .productInfo {
        font-size: 20px;
        line-height: 24px;
        color: #150801;
        p {
            & + p {
                margin-top: 27px;
            }
        }
        b {
            font-weight: 600;
        }
        strong {
            color: #9d0b20;
        }
        .name {
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            color: #150801;
            display: block;
            margin-bottom: 60px;
        }
    }
    .tableRatio {
        margin-top: 45px;
    }
    .tableVitamins {
        margin-top: 25px;
    }
    .btn {
        margin-top: 91px;
        padding: 15px 32px;
    }
    .picDesc {
    }
    .pic {
        margin-top: 72px;
    }
}

.tableRatio {
    width: 100%;
    border: solid 1px #000;
    border-collapse: collapse;

    td {
        border: solid 1px #000;
        padding: 8px 10px 8px 24px;
        &:nth-child(2) {
            text-align: center;
        }
    }
}

.tableVitamins {
    width: calc(100% + 16px);
    border-collapse: separate;
    border-spacing: 8px 8px;
    margin: 0 -8px;
    tr {
        &:first-child {
            td {
                font-weight: 500;
            }
        }
    }
    td {
        padding: 0px 9px;
        background-color: #e9d6bc;
        &:nth-child(3),
        &:nth-child(2) {
            text-align: center;
        }
    }
}

.footNote {
    position: relative;
    font-size: 20px;
    line-height: 24px;
    margin-top: 26px;
    color: #000000;
    @include before {
        content: "*";
        left: -15px;
        top: -6px;
        font-weight: 700;
    }
    span {
        display: block;
        font-weight: 700;
    }
}

.linkPhoneMob {
    display: none;
    background-image: url("../img/phone-dark.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 27px;
    height: 28px;
    position: absolute;
    right: 16px;
    top: 15px;
}

.dialogsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 8;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    @include transition(all 0.3s);
    .btn {
        min-width: 213px;
        padding: 0 20px;
        & + .btn {
            margin-top: 20px;
        }
    }
    &.open {
        left: 0;
    }
}

.listAddPictures {
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
    margin: 50px -15px 0;
    .item {
        width: 118px;
        height: 56px;
        position: relative;
        margin: 0 15px 20px;
        img {
            object-fit: contain;
            width: 100%;
        }
    }
    .delete {
        position: absolute;
        right: -15px;
        top: -5px;
        width: 10px;
        height: 10px;
        & > * {
            position: relative;
            display: block;
            background-color: #fff;
            width: 100%;
            height: 1px;
            @include transform(rotate(45deg));
            &:nth-child(2) {
                @include transform(rotate(-45deg));
                top: -1px;
            }
        }
    }
    .addPhotos {
        border: solid 1px #fff;
        width: 100%;
        height: 56px;
        position: relative;
        background-image: url("../img/plus.svg");
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        input {
            display: none;
        }
    }
    & + .checkBlock {
        margin-top: 25px !important;
    }
}
